<section class="root">
	<header class="header">
		<h1 class="header-text">todos</h1>
		<input class="todo-new" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
	</header>
	<section class="main" *ngIf="todoStore.todos.length > 0">
		<input class="toggle-all" id="toggle-all" type="checkbox" *ngIf="todoStore.todos.length" #toggleall [checked]="todoStore.allCompleted()" (click)="todoStore.setAllTo(toggleall.checked)">
		<label class="toggle-all-label" for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<li class="todo" [class.-completed]="todo.completed" [class.-editing]="todo.editing" *ngFor="let todo of todoStore.todos">
				<div class="todo-inner">
					<input class="todo-toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.completed">
					<label class="todo-label" (dblclick)="editTodo(todo)">{{todo.title}}</label>
					<button class="todo-destroy" (click)="remove(todo)"></button>
				</div>
				<input class="todo-edit" *ngIf="todo.editing" [value]="todo.title" #editedtodo (blur)="stopEditing(todo, editedtodo.value)" (keyup.enter)="updateEditingTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditingTodo(todo)">
			</li>
		</ul>
	</section>
	<footer class="footer" *ngIf="todoStore.todos.length > 0">
		<span class="todo-count"><strong class="todo-count-number">{{todoStore.getRemaining().length}}</strong> {{todoStore.getRemaining().length == 1 ? 'item' : 'items'}} left</span>
		<button class="clear-completed" *ngIf="todoStore.getCompleted().length > 0" (click)="removeCompleted()">Clear completed</button>
	</footer>
</section>
